{% extends 'layout.html' %}

{% block title %}
   Homepage
{% endblock %}
{% block content %}
    <div class="container">
      <h1 style="text-align: center; margin-top: 50px;">Transactive Energy Rate Program</h1>
      <p>NHEC’s Transactive Energy Rate (TER) Program allows members and third party aggregators working on their behalf to connect eligible battery & EV chargers to intelligently react to hourly energy price signals. Participating members can save money and help keep the grid clean and resilient by having their devices charge when energy prices are cheapest and contribute power back to the grid when energy prices (and demand) are highest. </p>
      <a href="/register" class="btn" style="background:#774AF8;color:white;margin-top:25px;">Start Registration</a>
         <div style="margin: 50px 0px;">
            <h2>How it Works</h2>
            <p>The TER program enables participating members to take advantage of their battery technology to participate more directly in energy markets and reduce their overall energy costs by intelligently reacting to energy price signals. The program enables participating eligible devices to selectively charge when energy prices are cheaper and selectively discharge to the grid when prices are high. Energy prices are typically highest when demand on the grid is highest, which means that if intelligent member devices are enabled to sell energy back to the grid or turn off, members can save energy on their overall bills while helping reduce demand on the grid that otherwhise often requires less clean sources of power coming online to offset demand.<br><br>
            Members or third party aggregators acting on their behalf can register for the program and connect their eligible devices to the program over the internet to receive price signals from NHEC. Once connected to the program cloud, NHEC will send the device the hourly cost of energy for the next day so that the member device can intelligently react based on its respective settings. As the device reacts to price signals, it will communicate its energy usage information back to NHEC for billing and credits. Participating devices are treated separately on the member’s monthly bill.</p><br>

            <h2>Eligible Devices</h2>
            <p>Please reach out to miro@bellawatt.com to confirm whether your device is eligible to participate in the program.</p><br>

            <h2>Frequently Asked Questions</h2>
            <p>Please reach out to miro@bellawatt.com if you have questions about participating in the program.</p>
         </div>
   </div>
{% endblock %}
