<h1 style="color:#774AF8;">TER Configure Your VEN Email</h1>
<p>
    You are now ready to connect your device’s VEN controller to the Transactive Energy Rate program system. Please follow the instructions below.
    <br>
</p>
<h4>Connect your VEN to the Transactive Energy Rate system.</h4>
<p style="color:#31816D;">1. Enter your VEN’s configuration settings.</p>
<p>2. Enter the following information: VTN Address: ZZZZZZZZZZZZZZZZZ</p>
<p>
    If you’re having difficulties configuring your VEN, please reference your gateway or software system’s
    documentation or customer support. If you continue to have issues, get in touch with NHEC by calling (800)-698-2007.
</p>
