<h1 style="color:#774AF8;">TER Register Confirmation Email </h1>
<p>
    Thank you for submitting your device information to begin registration for NHEC’s Transactive Energy Rate.<br>
    To complete registration, please get in touch with NHEC staff at (800)-698-2007. Registration Next Steps Get in touch with NHEC by calling (800)-698-2007.<br>
    Please have the member Account Holder Name, Account ID, and Account Address on hand. NHEC staff will help you complete registration.
</p>
<h4>Registration Next Steps</h4>
<p>1. Get in touch with NHEC by calling <span style="color:#31816D;"><b>(800)-698-2007</b>.</span></p>
<p>2. Please have the member Account Holder Name, Account Number, and Account Address on hand.</p>
<p>3. NHEC staff will help you complete registration.</p>