{% extends 'layout.html' %}

{% block title %}
   Register Form Confirmation
{% endblock %}

{% block content %}
    <div class="container">
        <h1 style="text-align:center;">Transactive Energy Rate Registration</h1>
        <p>Your registration information has been submitted!
            <span style="font-weight:bold;color:#31816D;text-decoration: underline;">
                Please call (800)-698-2007 to complete registration.
            </span>
        </p><br>

        <h4>Registration Next Steps</h4>
        <p>1. Get in touch with NHEC by calling
            <span style="color:#31816D;font-weight:bold">(800)-698-2007</span> and indicating you’ve submitted information to participate
            in the Transactive Energy Rate program.
        </p>
        <p>2. Please have the member Account Holder Name, Account Number, and Account Address on hand.</p>
        <p>3. NHEC staff will help you complete registration.</p>
    </div>
{% endblock %}